
body {
    background-image: url("https://cdn2.static1-sima-land.com/items/3001814/1/700-nw.jpg");
    background-attachment: scroll;
}

header {
    background-color: DarkGray;
    border: 2px double black;
    height: 80px;
    width: calc(100% - 50px);
    margin: 25px;
    padding: 10px;
    font-size: 0.5em;
    float: inherit;
}
footer {
    background-color: DarkGray;
    border: 2px double black;
    height: 25px;
    width: calc(100% - 50px);
    margin: 25px;
    padding: 10px;
    font-size: 0.9em;
    float: inherit;
    font-weight: bold;
}

.block-parrent {
    border: 4px double DimGrey;
    border-radius: 8px;
    height: 1500px;
    background-color: DarkGray;
    width: calc(100% - 210px);
    margin: 20px;
    margin-left: 95px;
    margin-right: 95px;
    padding: 15px;
    float: inherit;
}

.aside-righr {
    background: GhostWhite;
    padding: 5px;
    width: 320px;
    height: 100%;
    border-radius: 8px;
    float: right;
}

.aside-left {
    background: GhostWhite;
    padding: 5px;
    width: 210px;
    height: 100%;
    border-radius: 8px;
    float: left;
}

.block-dother {
    border: 4px double silver;
    border-radius: 15px;
    height: 320px;
    width: 730px;
    background-color: GhostWhite;
    margin: 10px;
    margin-left: 180px;
    padding: 15px;
    float: left;
}

.description-on-block {
    float: left;
    display: inline;
    width: 250px;
    height: 50px;
    margin-left: 25px;
    font-size: 0.9em;
}

.information-on-block {
    float: left;
    display: inline;
    width: 450px;
    height: 25px;
    margin-top: 75px;
    margin-left: 15px;
    font-size: 0.8em;
}

.button {
    margin-top: 5px;
    margin-left: 23px;
    margin-bottom: 5px;
    border: 2px double #4CAF50;
    border-radius: 4px;
    background-color: whitesmoke;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float: left;
}
.button:hover {
    background-color: #4CAF50;
    color: white;
}
.registration-blocks {
    background-color: #e7e7e7;
    border: 2px double ghostwhite;
    border-radius: 8px;
    display: none;
    margin: 10px;
    padding: 10px;
    float: left;
}